.fixed {
  position: fixed;
  display: flex;
  align-self: center;
  /* flex-direction: column; */
  align-items: center;
  right: 25px;
  top: 0;
  bottom: 0;
  width: 40%;
}

@media (max-width: 1000px) {
  .idyll-step,
  .article-header {
    width: 50%;
  }
}

.idyll-text-container {
  margin-left: 5%;
}

section {
  margin-top: 0;
}

.fixed div {
  margin: 0 auto;
  width: 100%;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

/* #idyll-mount > div > div > div > section:nth-child(2) */

.label {
  fill: black;
  font: 10px sans-serif;
}

.sales-number {
  color: green;
  font-weight: bold;
}
