.fixed {
  position: fixed;
  display: flex;
  align-self: center;
  /* flex-direction: column; */
  align-items: center;
  right: 25px;
  top: 0;
  bottom: 0;
  width: 40%;
}

.idyll-scroll {
  margin-top: 0;
}

#idyll-scroll-0 > div > div > div:nth-child(1) {
  margin-top: 0;
  padding: 0;
}

.idyll-scroll-text {
  padding-top: 0;
}

.noBorder {
  border-style: none !important;
  box-shadow: none !important;
}

.article-header {
  margin: 0;
}

@media (max-width: 1000px) {
  .idyll-step,
  .article-header {
    width: 50%;
  }
}

.idyll-text-container {
  margin-left: 5%;
}

section {
  margin-top: 0;
}

.fixed div {
  margin: 0 auto;
  width: 100%;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}


.label {
  fill: black;
  font: 10px sans-serif;
}

.sales-number {
  color: green;
  font-weight: bold;
}
<<<<<<< HEAD
.names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

/* Tooltip CSS */
.d3-tip {
  line-height: 1.5;
  font-weight: 400;
  font-family: "avenir next", Arial, sans-serif;
  padding: 6px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffa500;
  border-radius: 1px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/*    text{
      pointer-events:none;
    }*/

.details {
  color: white;
}
=======

.toolTip {
  position: absolute;
  display: contents;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: left;
}
>>>>>>> e39ada7a1e1ec173466d54aa43101cfabef9f7e4
