.fixed {
  position: fixed;
  display: flex;
  align-self: center;
  /* flex-direction: column; */
  align-items: center;
  right: 25px;
  top: 0;
  bottom: 0;
  width: 40%;
}

.idyll-scroll {
  margin-top: 0;
}

#idyll-scroll-0 > div > div > div:nth-child(1) {
  margin-top: 0;
  padding: 0;
}

.idyll-scroll-text {
  padding-top: 0;
}

.noBorder {
  border-style: none !important;
  box-shadow: none !important;
}

.article-header {
  margin: 0;
}

@media (max-width: 1000px) {
  .idyll-step,
  .article-header {
    width: 50%;
  }
}

.idyll-text-container {
  margin-left: 5%;
}

section {
  margin-top: 0;
}

.fixed div {
  margin: 0 auto;
  width: 100%;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}


.label {
  fill: black;
  font: 10px sans-serif;
}

.sales-number {
  color: green;
  font-weight: bold;
}

.toolTip {
  position: absolute;
  display: contents;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: left;
}